<a href="https://colab.research.google.com/github/saitzaw/apache-spark-colab/blob/main/Spark_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### SQL query with Spark

In [ ]:
!pip install -q findspark
!pip install -q pyspark

In [ ]:
import os
import sqlite3
import findspark
from pyspark.sql.functions import lit
from pyspark.sql.functions import col
from pyspark.sql.functions import date_format
from pyspark.sql.functions import to_date
from pyspark.sql.functions import min
from pyspark.sql.functions import max
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType
from pyspark.sql.types import StringType
from pyspark.sql.types import StructType
from pyspark.sql.types import StructField
from pyspark.sql.types import DoubleType
from pyspark.sql.types import LongType
from pyspark.sql.types import ArrayType
from pyspark.sql import SparkSession

In [ ]:
findspark.init()
spark = SparkSession.builder\
                    .master("local")\
                    .appName("colab")\
                    .config("spark.ui.port", "4050")\
                    .getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True)

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
conn = sqlite3.connect('/content/gdrive/MyDrive/ColabDataset/chinook.db')

In [ ]:
conn

In [ ]:
def select_all_tasks(conn, query):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    cur.execute(query)

    rows = cur.fetchall()
    return rows

In [ ]:
# for column in [column for column in invoiceDf.columns
#                if column not in artistDf.columns]:
#     artistDf = artistDf.withColumn(column, lit(None))

In [ ]:
# for column in [column for column in artistDf.columns
#                if column not in invoiceDf.columns]:
#     invoiceDf = invoiceDf.withColumn(column, lit(None))

In [ ]:
query = "SELECT c.FirstName,\
                          c.LastName,\
                          c.Company,\
                          c.SupportRepId,\
                          c.City,\
                          c.state,\
                          c.Country,\
                          c.PostalCode,\
                          i.InvoiceId,\
                          i.InvoiceDate,\
                          i.BillingAddress,\
                          i.BillingCity,\
                          i.BillingState,\
                          i.BillingCountry,\
                          i.BillingPostalCode,\
                          i.Total,\
                          t.UnitPrice,\
                          t.Quantity,\
                          r.Name,\
                          r.Composer,\
                          r.Milliseconds,\
                          r.Bytes,\
                          a.Title,\
                          s.Name AS ArtistName,\
                          p.Name AS Playlist,\
                          m.Name AS MediaType\
                  FROM customers AS c\
                  LEFT JOIN invoices AS i ON c.CustomerId==i.CustomerId\
                  LEFT JOIN invoice_items AS t ON i.InvoiceId==t.InvoiceId \
                  LEFT JOIN tracks AS r ON t.TrackId==r.TrackId \
                  LEFT JOIN albums AS a ON a.AlbumId==r.AlbumId \
                  LEFT JOIN artists AS s ON a.ArtistId==s.ArtistId \
                  LEFT JOIN genres AS g ON g.GenreId==r.GenreId \
                  LEFT JOIN playlist_track AS k ON k.TrackId==r.TrackId \
                  LEFT JOIN playlists AS p ON p.PlaylistId==k.PlaylistId \
                  LEFT JOIN media_types AS m ON m.MediaTypeId==r.MediaTypeId \
                  ORDER BY i.InvoiceId ASC ;"

In [ ]:
cols_name = [
              ('FirstName', StringType()),
              ('LastName', StringType()),
              ('Company', StringType()),
              ('SupportRepId', IntegerType()),
              ('City', StringType()),
              ('State', StringType()),
              ('Country', StringType()),
              ('PostalCode', StringType()),
              ('InvoiceId', IntegerType()),
              ('InvoiceDate', StringType()),
              ('BillingAddress', StringType()),
              ('BillingCity', StringType()),
              ('BillingState', StringType()),
              ('BillingCountry', StringType()),
              ('BillingPostalCode', StringType()),
              ('Total', DoubleType()),
              ('UnitPrice', DoubleType()),
              ('Quantity', IntegerType()),
              ('Name', StringType()),
              ('Composer', StringType()),
              ('Milliseconds', LongType()),
              ('Bytes', LongType()),
              ('Title', StringType()),
              ('ArtistName', StringType()),
              ('Playlist', StringType()),
              ('MediaType', StringType()),
              ]

In [ ]:
schema = StructType(
    [
     StructField(
        x[0], x[1], True
      )
     for x in cols_name
    ]
)

In [ ]:
customerBehavior = select_all_tasks(conn, query)

In [ ]:
customerBehaviorDf = spark.createDataFrame(customerBehavior, schema)

In [ ]:
customerBehaviorDf.show(1, truncate=False, vertical=True)

-RECORD 0-------------------------------------
 FirstName         | Leonie
 LastName          | Köhler
 Company           | null
 SupportRepId      | 5
 City              | Stuttgart
 State             | null
 Country           | Germany
 PostalCode        | 70174
 InvoiceId         | 1
 InvoiceDate       | 2009-01-01 00:00:00
 BillingAddress    | Theodor-Heuss-Straße 34
 BillingCity       | Stuttgart
 BillingState      | null
 BillingCountry    | Germany
 BillingPostalCode | 70174
 Total             | 1.98
 UnitPrice         | 0.99
 Quantity          | 1
 Name              | Balls to the Wall
 Composer          | null
 Milliseconds      | 342562
 Bytes             | 5510424
 Title             | Balls to the Wall
 ArtistName        | Accept
 Playlist          | Music
 MediaType         | Protected AAC audio file
only showing top 1 row

In [ ]:
customerBehaviorDf.filter("Composer IS NOT NULL").count()

4184

In [ ]:
customerBehaviorDf.filter("Composer IS NOT NULL").count()

4184

In [ ]:
customerBehaviorDf.count()

5572

In [ ]:
NullCount = {col:(
    customerBehaviorDf.filter(
        customerBehaviorDf[col].isNull()
        ).count()
        ) for col in customerBehaviorDf.columns}

In [ ]:
NullCount

{'ArtistName': 0,
 'BillingAddress': 0,
 'BillingCity': 0,
 'BillingCountry': 0,
 'BillingPostalCode': 368,
 'BillingState': 2716,
 'Bytes': 0,
 'City': 0,
 'Company': 4616,
 'Composer': 1388,
 'Country': 0,
 'FirstName': 0,
 'InvoiceDate': 0,
 'InvoiceId': 0,
 'LastName': 0,
 'MediaType': 0,
 'Milliseconds': 0,
 'Name': 0,
 'Playlist': 0,
 'PostalCode': 368,
 'Quantity': 0,
 'State': 2716,
 'SupportRepId': 0,
 'Title': 0,
 'Total': 0,
 'UnitPrice': 0}

In [ ]:
def splitUDF(row):
    if " " in row:
        date,hhmmss = row.split(" ")
    if "-" in date:
        yyyy,mm,dd = date.split("-")

    return [yyyy,mm,dd]

In [ ]:
datSplitterUDF = udf(lambda row : splitUDF(row),ArrayType(StringType()))

In [ ]:
customerBehaviorDateTimeDf = customerBehaviorDf\
.select('*', datSplitterUDF(customerBehaviorDf.InvoiceDate).alias("dt"))\
.withColumn('year',col('dt').getItem(0).cast('int'))\
.withColumn('month',col('dt').getItem(1).cast('int'))\
.withColumn('day',col('dt').getItem(2).cast('int'))

In [ ]:
customerBehaviorDateTimeDf.show(1, truncate=True, vertical=True)

-RECORD 0---------------------------------
 FirstName         | Leonie
 LastName          | Köhler
 Company           | null
 SupportRepId      | 5
 City              | Stuttgart
 State             | null
 Country           | Germany
 PostalCode        | 70174
 InvoiceId         | 1
 InvoiceDate       | 2009-01-01 00:00:00
 BillingAddress    | Theodor-Heuss-Str...
 BillingCity       | Stuttgart
 BillingState      | null
 BillingCountry    | Germany
 BillingPostalCode | 70174
 Total             | 1.98
 UnitPrice         | 0.99
 Quantity          | 1
 Name              | Balls to the Wall
 Composer          | null
 Milliseconds      | 342562
 Bytes             | 5510424
 Title             | Balls to the Wall
 ArtistName        | Accept
 Playlist          | Music
 MediaType         | Protected AAC aud...
 dt                | [2009, 01, 01]
 year              | 2009
 month             | 1
 day               | 1
only showing top 1 row

In [ ]:
customerBehaviorDateTimeDf.drop("InvoiceDate", "dt").show(1, truncate=False, vertical=True)

-RECORD 0-------------------------------------
 FirstName         | Leonie
 LastName          | Köhler
 Company           | null
 SupportRepId      | 5
 City              | Stuttgart
 State             | null
 Country           | Germany
 PostalCode        | 70174
 InvoiceId         | 1
 BillingAddress    | Theodor-Heuss-Straße 34
 BillingCity       | Stuttgart
 BillingState      | null
 BillingCountry    | Germany
 BillingPostalCode | 70174
 Total             | 1.98
 UnitPrice         | 0.99
 Quantity          | 1
 Name              | Balls to the Wall
 Composer          | null
 Milliseconds      | 342562
 Bytes             | 5510424
 Title             | Balls to the Wall
 ArtistName        | Accept
 Playlist          | Music
 MediaType         | Protected AAC audio file
 year              | 2009
 month             | 1
 day               | 1
only showing top 1 row

In [ ]:
customerBehaviorDtDf = customerBehaviorDateTimeDf.drop("InvoiceDate", "dt")

In [ ]:
customerBehaviorDtDf.show(1, truncate=True, vertical=True)

-RECORD 0---------------------------------
 FirstName         | Leonie
 LastName          | Köhler
 Company           | null
 SupportRepId      | 5
 City              | Stuttgart
 State             | null
 Country           | Germany
 PostalCode        | 70174
 InvoiceId         | 1
 BillingAddress    | Theodor-Heuss-Str...
 BillingCity       | Stuttgart
 BillingState      | null
 BillingCountry    | Germany
 BillingPostalCode | 70174
 Total             | 1.98
 UnitPrice         | 0.99
 Quantity          | 1
 Name              | Balls to the Wall
 Composer          | null
 Milliseconds      | 342562
 Bytes             | 5510424
 Title             | Balls to the Wall
 ArtistName        | Accept
 Playlist          | Music
 MediaType         | Protected AAC aud...
 year              | 2009
 month             | 1
 day               | 1
only showing top 1 row

In [ ]:
customerBehaviorDtDf.filter(col('Country') == 'Germany').count()

374

In [ ]:
customerBehaviorDtDf.select('Country').distinct().count()

24

In [ ]:
customerBehaviorDtDf.select('Country').distinct().show(24)

+--------------+
|       Country|
+--------------+
|        Sweden|
|       Germany|
|        France|
|     Argentina|
|       Belgium|
|       Finland|
|         India|
|         Chile|
|         Italy|
|        Norway|
|         Spain|
|       Denmark|
|       Ireland|
|           USA|
|        Canada|
|Czech Republic|
|        Brazil|
|        Poland|
|      Portugal|
|     Australia|
|       Austria|
|       Hungary|
|United Kingdom|
|   Netherlands|
+--------------+

In [ ]:
customerBehaviorDtDf.select('City').distinct().count()

53

In [ ]:
customerBehaviorDtDf.select('City').distinct().show(53)

+-------------------+
|               City|
+-------------------+
|          Bangalore|
|           Winnipeg|
|             Madrid|
|             Prague|
|             Ottawa|
|             Sidney|
|          Cupertino|
|          Frankfurt|
|              Dijon|
|             Lisbon|
|          Stockholm|
|               Oslo|
|             Dublin|
|             Berlin|
|             London|
|São José dos Campos|
|            Madison|
|              Paris|
|            Chicago|
|               Lyon|
|           Montréal|
|            Toronto|
|              Porto|
|        Yellowknife|
|             Warsaw|
|            Redmond|
|          Amsterdam|
|           Brussels|
|          Vancouver|
|           Edmonton|
|               Reno|
|           Bordeaux|
|       Buenos Aires|
|         Edinburgh |
|          São Paulo|
|             Vienne|
|              Delhi|
|          Stuttgart|
|           Helsinki|
|         Copenhagen|
|               Rome|
|     Rio de Janeiro|
|             Tucson|
|           Brasília|
|           Budapest|
|     Salt Lake City|
|           Santiago|
|            Orlando|
|           New York|
|            Halifax|
|      Mountain View|
|         Fort Worth|
|             Boston|
+-------------------+

In [ ]:
customerBehaviorDtDf.select('City').distinct().show(53)

+-------------------+
|               City|
+-------------------+
|          Bangalore|
|           Winnipeg|
|             Madrid|
|             Prague|
|             Ottawa|
|             Sidney|
|          Cupertino|
|          Frankfurt|
|              Dijon|
|             Lisbon|
|          Stockholm|
|               Oslo|
|             Dublin|
|             Berlin|
|             London|
|São José dos Campos|
|            Madison|
|              Paris|
|            Chicago|
|               Lyon|
|           Montréal|
|            Toronto|
|              Porto|
|        Yellowknife|
|             Warsaw|
|            Redmond|
|          Amsterdam|
|           Brussels|
|          Vancouver|
|           Edmonton|
|               Reno|
|           Bordeaux|
|       Buenos Aires|
|         Edinburgh |
|          São Paulo|
|             Vienne|
|              Delhi|
|          Stuttgart|
|           Helsinki|
|         Copenhagen|
|               Rome|
|     Rio de Janeiro|
|             Tucson|
|           Brasília|
|           Budapest|
|     Salt Lake City|
|           Santiago|
|            Orlando|
|           New York|
|            Halifax|
|      Mountain View|
|         Fort Worth|
|             Boston|
+-------------------+

In [54]:
customerBehaviorDtDf.groupBy(col('City')).count().show(53)

+-------------------+-----+
|               City|count|
+-------------------+-----+
|          Bangalore|   90|
|           Winnipeg|  100|
|             Madrid|   90|
|             Prague|  185|
|             Ottawa|   99|
|             Sidney|   97|
|          Cupertino|   94|
|          Frankfurt|   95|
|              Dijon|   97|
|             Lisbon|   90|
|          Stockholm|   97|
|               Oslo|   92|
|             Dublin|   97|
|             Berlin|  183|
|             London|  188|
|São José dos Campos|   96|
|            Madison|   97|
|              Paris|  187|
|            Chicago|   97|
|               Lyon|   99|
|           Montréal|   93|
|            Toronto|   88|
|              Porto|   89|
|        Yellowknife|   95|
|             Warsaw|   90|
|            Redmond|   97|
|          Amsterdam|   86|
|           Brussels|  101|
|          Vancouver|   91|
|           Edmonton|   97|
|               Reno|   97|
|           Bordeaux|   94|
|       Buenos Aires|   95|
|         Edinburgh |   94|
|          São Paulo|  192|
|             Vienne|   92|
|              Delhi|   96|
|          Stuttgart|   96|
|           Helsinki|   94|
|         Copenhagen|   91|
|               Rome|  105|
|     Rio de Janeiro|   98|
|             Tucson|  105|
|           Brasília|   98|
|           Budapest|   99|
|     Salt Lake City|   96|
|           Santiago|   92|
|            Orlando|  101|
|           New York|   91|
|            Halifax|   92|
|      Mountain View|  186|
|         Fort Worth|   85|
|             Boston|   86|
+-------------------+-----+

In [55]:
customerBehaviorDtDf.groupBy(col('Country')).count().show(53)

+--------------+-----+
|       Country|count|
+--------------+-----+
|        Sweden|   97|
|       Germany|  374|
|        France|  477|
|     Argentina|   95|
|       Belgium|  101|
|       Finland|   94|
|         India|  186|
|         Chile|   92|
|         Italy|  105|
|        Norway|   92|
|         Spain|   90|
|       Denmark|   91|
|       Ireland|   97|
|           USA| 1232|
|        Canada|  755|
|Czech Republic|  185|
|        Brazil|  484|
|        Poland|   90|
|      Portugal|  179|
|     Australia|   97|
|       Austria|   92|
|       Hungary|   99|
|United Kingdom|  282|
|   Netherlands|   86|
+--------------+-----+