<a href="https://colab.research.google.com/github/saitzaw/apache-spark-colab/blob/main/Spark_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar -xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark
!pip install pyspark

In [ ]:
import os
import findspark
from pyspark.sql import SparkSession

In [ ]:
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [ ]:
findspark.init()
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True)

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
csv_file_path = '/content/gdrive/MyDrive/ColabDataset/cars.csv'
df = spark.read.csv(csv_file_path, header=True, sep=";")

In [ ]:
df.show(5, truncate=False)

+-------------------------+----+---------+------------+----------+------+------------+-----+------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+-------------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504. |12.0        |70   |US    |
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693. |11.5        |70   |US    |
|Plymouth Satellite       |18.0|8        |318.0       |150.0     |3436. |11.0        |70   |US    |
|AMC Rebel SST            |16.0|8        |304.0       |150.0     |3433. |12.0        |70   |US    |
|Ford Torino              |17.0|8        |302.0       |140.0     |3449. |10.5        |70   |US    |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

In [ ]:
df.limit(5)

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+

In [ ]:
df.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: string (nullable = true)
 |-- Cylinders: string (nullable = true)
 |-- Displacement: string (nullable = true)
 |-- Horsepower: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Acceleration: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Origin: string (nullable = true)

### Note 
- using Spark, we need to take care datatype 
- unlike Pandas, we should declare nullable column in pyspark

### Datatype conversion in pySpark
- note string type cannot do mathematical operation such as add, sub, mult so on ...

In [ ]:
from pyspark.sql.types import (
    StringType,
    DoubleType,
    IntegerType,
    StructType,
    StructField
)

In [ ]:
to_change_cols_dtypes = [
                         ('Car', StringType()),
                         ('MPG', DoubleType()),
                         ('Cylinders', IntegerType()),
                         ('Displacement', DoubleType()),
                         ('Horsepower', DoubleType()),
                         ('Weight', DoubleType()),
                         ('Acceleration', DoubleType()),
                         ('Model', IntegerType()),
                         ('Origin', StringType())

]

In [ ]:
schema = StructType(
    [
     StructField(
        x[0], x[1], True
      )
     for x in to_change_cols_dtypes
    ]
)

In [ ]:
df = spark.read.csv(
    csv_file_path,
    header=True,
    sep=";",
    schema=schema)

In [ ]:
df.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: double (nullable = true)
 |-- Cylinders: integer (nullable = true)
 |-- Displacement: double (nullable = true)
 |-- Horsepower: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Acceleration: double (nullable = true)
 |-- Model: integer (nullable = true)
 |-- Origin: string (nullable = true)

In [ ]:
df.show(5, truncate=False)

+-------------------------+----+---------+------------+----------+------+------------+-----+------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+-------------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504.0|12.0        |70   |US    |
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693.0|11.5        |70   |US    |
|Plymouth Satellite       |18.0|8        |318.0       |150.0     |3436.0|11.0        |70   |US    |
|AMC Rebel SST            |16.0|8        |304.0       |150.0     |3433.0|12.0        |70   |US    |
|Ford Torino              |17.0|8        |302.0       |140.0     |3449.0|10.5        |70   |US    |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

### Count the number of row and columns

In [ ]:
df.count()

406

In [ ]:
df.distinct().count()

406

In [25]:
len(df.columns)

9

In [27]:
df.select('Car').distinct().show()

+--------------------+
|                 Car|
+--------------------+
|Volkswagen 1131 D...|
|Chevrolete Chevel...|
|Chevrolet Monte C...|
|     Ford LTD Landau|
|       Honda Prelude|
|      Chevrolet Nova|
|   Volkswagen Rabbit|
|     Ford Torino 500|
|        Toyota Camry|
|         Audi 100 LS|
|Plymouth Valiant ...|
|Toyota Corolla Ma...|
|Oldsmobile Cutlas...|
|Fiat 124 Sport Coupe|
|     Volvo 145e (sw)|
|Chevrolet Caprice...|
|            Audi Fox|
|    Chevrolet Camaro|
|       Dodge Aspen 6|
|    Pontiac Catalina|
+--------------------+
only showing top 20 rows

In [29]:
[x for x in df.select('Car').distinct().collect()]

[Row(Car='Volkswagen 1131 Deluxe Sedan'),
 Row(Car='Chevrolete Chevelle Malibu'),
 Row(Car='Chevrolet Monte Carlo Landau'),
 Row(Car='Ford LTD Landau'),
 Row(Car='Honda Prelude'),
 Row(Car='Chevrolet Nova'),
 Row(Car='Volkswagen Rabbit'),
 Row(Car='Ford Torino 500'),
 Row(Car='Toyota Camry'),
 Row(Car='Audi 100 LS'),
 Row(Car='Plymouth Valiant Custom'),
 Row(Car='Toyota Corolla Mark II (sw)'),
 Row(Car='Oldsmobile Cutlass Supreme'),
 Row(Car='Fiat 124 Sport Coupe'),
 Row(Car='Volvo 145e (sw)'),
 Row(Car='Chevrolet Caprice Classic'),
 Row(Car='Audi Fox'),
 Row(Car='Chevrolet Camaro'),
 Row(Car='Dodge Aspen 6'),
 Row(Car='Pontiac Catalina'),
 Row(Car='AMC Ambassador Brougham'),
 Row(Car='Ford Maverick'),
 Row(Car='Chevrolet Vega'),
 Row(Car='Plymouth Fury III'),
 Row(Car='Datsun 200-SX'),
 Row(Car='Plymouth Volare Premier v8'),
 Row(Car='Plymouth Arrow GS'),
 Row(Car='Mazda RX2 Coupe'),
 Row(Car='Subaru DL'),
 Row(Car='Dodge Aspen SE'),
 Row(Car='Mazda GLC Custom'),
 Row(Car='Datsun 610'),
 Row(Car='Honda Civic'),
 Row(Car='Datsun 810 Maxima'),
 Row(Car='Ford F250'),
 Row(Car='Chevrolet Bel Air'),
 Row(Car='Chevrolet Citation'),
 Row(Car='Plymouth Satellite'),
 Row(Car='Ford Mustang GL'),
 Row(Car='Dodge Rampage'),
 Row(Car='Dodge Diplomat'),
 Row(Car='Chevrolet Chevelle Malibu Classic'),
 Row(Car='Volkswagen Rabbit l'),
 Row(Car='Volkswagen Type 3'),
 Row(Car='Datsun 510 (sw)'),
 Row(Car='Ford Mustang II 2+2'),
 Row(Car='Ford Fairmont (man)'),
 Row(Car='Ford Futura'),
 Row(Car='Volkswagen Dasher (diesel)'),
 Row(Car='Toyota Cressida'),
 Row(Car='AMC Matador'),
 Row(Car='Datsun B210'),
 Row(Car='Pontiac Grand Prix LJ'),
 Row(Car='Ford F108'),
 Row(Car='Buick Skylark Limited'),
 Row(Car='Volkswagen Dasher'),
 Row(Car='Chevrolet Monza 2+2'),
 Row(Car='Volkswagen Pickup'),
 Row(Car='Plymouth Horizon TC3'),
 Row(Car='Buick Century Limited'),
 Row(Car='Peugeot 504'),
 Row(Car='Dodge Colt Hatchback Custom'),
 Row(Car='Buick Regal Sport Coupe (turbo)'),
 Row(Car='Datsun 280-ZX'),
 Row(Car='Oldsmobile Omega'),
 Row(Car='Plymouth Cricket'),
 Row(Car='Fiat 124 TC'),
 Row(Car='Peugeot 604sl'),
 Row(Car='Plymouth Reliant'),
 Row(Car='AMC Rebel SST (sw)'),
 Row(Car='Buick Skylark'),
 Row(Car='Plymouth Horizon'),
 Row(Car='Renault 18i'),
 Row(Car='Volkswagen Model 111'),
 Row(Car='Chevrolet Malibu'),
 Row(Car='Volkswagen Rabbit Custom Diesel'),
 Row(Car='AMC Matador (sw)'),
 Row(Car='Dodge Coronet Brougham'),
 Row(Car='Mercury Zephyr 6'),
 Row(Car='Mazda RX3'),
 Row(Car='Oldsmobile Cutlass Salon Brougham'),
 Row(Car='Buick Century 350'),
 Row(Car='Dodge Coronet Custom'),
 Row(Car='Peugeot 505s Turbo Diesel'),
 Row(Car='Opel Manta'),
 Row(Car='Buick Century'),
 Row(Car='Chevy S-10'),
 Row(Car='Citroen DS-21 Pallas'),
 Row(Car='Datsun 510'),
 Row(Car='Volvo 244DL'),
 Row(Car='Dodge Challenger SE'),
 Row(Car='Saab 99LE'),
 Row(Car='Chevrolet Vega 2300'),
 Row(Car='Pontiac Astro'),
 Row(Car='Saab 900s'),
 Row(Car='Toyota Mark II'),
 Row(Car='Capri ii'),
 Row(Car='Pontiac Firebird'),
 Row(Car='Plymouth Grand Fury'),
 Row(Car='Ford Grenada'),
 Row(Car='Oldsmobile Cutlass Ciera (diesel)'),
 Row(Car='Chevrolet Impala'),
 Row(Car='Ford LTD'),
 Row(Car='AMC Ambassador DPL'),
 Row(Car='Plymouth Fury Gran Sedan'),
 Row(Car='Ford Mustang Boss 302'),
 Row(Car='Cadillac Eldorado'),
 Row(Car='Dodge Monaco Brougham'),
 Row(Car='Toyota Corolla Tercel'),
 Row(Car='Nissan Stanza XE'),
 Row(Car='Chevrolet Nova Custom'),
 Row(Car='Ford Gran Torino'),
 Row(Car='Buick Skylark 320'),
 Row(Car='Ford Fiesta'),
 Row(Car='Triumph TR7 Coupe'),
 Row(Car='Ford Ranger'),
 Row(Car='Honda Civic 1300'),
 Row(Car='Datsun F-10 Hatchback'),
 Row(Car='Mazda GLC Custom l'),
 Row(Car='Dodge Aspen'),
 Row(Car='Chrysler Newport Royal'),
 Row(Car='Fiat 128'),
 Row(Car='Mazda GLC Deluxe'),
 Row(Car='Dodge Omni'),
 Row(Car='Honda Civic (auto)'),
 Row(Car='Plymouth Satellite Custom (sw)'),
 Row(Car='Renault 12tl'),
 Row(Car='Ford Mustang II'),
 Row(Car='Datsun B-210'),
 Row(Car='AMC Concord DL 6'),
 Row(Car='Chrysler New Yorker Brougham'),
 Row(Car='Ford Fairmont Futura'),
 Row(Car='Toyota Celica GT'),
 Row(Car='AMC Hornet Sportabout (sw)'),
 Row(Car='Mercury Marquis Brougham'),
 Row(Car='Pontiac Ventura SJ'),
 Row(Car='Chevrolet Cavalier 2-door'),
 Row(Car='Pontiac Sunbird Coupe'),
 Row(Car='Pontiac Phoenix'),
 Row(Car='Plymouth Valiant'),
 Row(Car='Cadillac Seville'),
 Row(Car='Ford Pinto'),
 Row(Car='Chrysler Lebaron Salon'),
 Row(Car='Renault 5 GTL'),
 Row(Car='Ford Grenada l'),
 Row(Car='AMC Gremlin'),
 Row(Car='Toyota Corolla Liftback'),
 Row(Car='Datsun 310'),
 Row(Car='Peugeot 304'),
 Row(Car='Audi 5000'),
 Row(Car='Mazda GLC'),
 Row(Car='Chevrolet Monte Carlo S'),
 Row(Car='Dodge Colt'),
 Row(Car='Mercedes-Benz 280s'),
 Row(Car='Mercury Marquis'),
 Row(Car='Mercedes-Benz 240d'),
 Row(Car='Ford Gran Torino (sw)'),
 Row(Car='Plymouth Volare Custom'),
 Row(Car='Plymouth Volare'),
 Row(Car='Toyota Corolla 1200'),
 Row(Car='Pontiac Phoenix LJ'),
 Row(Car='Chrysler Lebaron Town @ Country (sw)'),
 Row(Car='Volvo Diesel'),
 Row(Car='Dodge Aries Wagon (sw)'),
 Row(Car='BMW 2002'),
 Row(Car='AMC Concord DL'),
 Row(Car='Plymouth Satellite (sw)'),
 Row(Car='Ford Country'),
 Row(Car='Dodge Colt m/m'),
 Row(Car='Ford Fairmont 4'),
 Row(Car='Buick Estate Wagon (sw)'),
 Row(Car='Ford Mustang Cobra'),
 Row(Car='Datsun 810'),
 Row(Car='Chevrolet Monte Carlo'),
 Row(Car='Ford Escort 4W'),
 Row(Car='Plymouth Satellite Sebring'),
 Row(Car='Volvo 245'),
 Row(Car='Volkswagen Jetta'),
 Row(Car='Mercedes Benz 300d'),
 Row(Car='Oldsmobile Cutlass LS'),
 Row(Car='Volkswagen Rabbit Custom'),
 Row(Car='BMW 320i'),
 Row(Car='Chevrolet Cavalier'),
 Row(Car='Mercury Monarch ghia'),
 Row(Car='Saab 99le'),
 Row(Car='Datsun 710'),
 Row(Car='Mercury Cougar Brougham'),
 Row(Car='Toyota Corolla'),
 Row(Car='Ford Pinto Runabout'),
 Row(Car='AMC Ambassador SST'),
 Row(Car='Buick Opel Isuzu Deluxe'),
 Row(Car='Hi 1200D'),
 Row(Car='Dodge D100'),
 Row(Car='Pontiac Catalina Brougham'),
 Row(Car='Plymouth Horizon Miser'),
 Row(Car='Chrysler Cordoba'),
 Row(Car='Mercury Grand Marquis'),
 Row(Car='AMC Hornet'),
 Row(Car='Chevrolet Cavalier Wagon'),
 Row(Car='Buick Electra 225 Custom'),
 Row(Car='Plymouth Horizon 4'),
 Row(Car='Dodge D200'),
 Row(Car='Renault 12 (sw)'),
 Row(Car='Fiat x1.9'),
 Row(Car='Oldsmobile Starfire SX'),
 Row(Car='Oldsmobile Delta 88 Royale'),
 Row(Car='Chrysler Lebaron Medallion'),
 Row(Car='Volkswagen 411 (sw)'),
 Row(Car='Plymouth Duster'),
 Row(Car='Ford Country Squire (sw)'),
 Row(Car='Plymouth Champ'),
 Row(Car='Buick LeSabre Custom'),
 Row(Car='Dodge Dart Custom'),
 Row(Car='Plymouth Fury'),
 Row(Car='Ford Torino'),
 Row(Car='Ford Galaxie 500'),
 Row(Car='Ford Torino (sw)'),
 Row(Car='Ford Mustang'),
 Row(Car='Plymouth Custom Suburb'),
 Row(Car='Mercury Zephyr'),
 Row(Car='Honda Accord CVCC'),
 Row(Car='Buick Century Special'),
 Row(Car='Honda Accord LX'),
 Row(Car='Chevrolet Malibu Classic (sw)'),
 Row(Car='AMC Pacer'),
 Row(Car='Saab 99gle'),
 Row(Car='Honda Civic 1500 gl'),
 Row(Car="Plymouth 'Cuda 340"),
 Row(Car='Datsun PL510'),
 Row(Car='Ford Escort 2H'),
 Row(Car='Toyota Tercel'),
 Row(Car='Mercury Monarch'),
 Row(Car='Fiat 131'),
 Row(Car='Honda Civic CVCC'),
 Row(Car='Datsun 210'),
 Row(Car='Mazda RX-7 GS'),
 Row(Car='Mercury Capri v6'),
 Row(Car='Audi 4000'),
 Row(Car='Volkswagen Super Beetle'),
 Row(Car='Mercury Lynx l'),
 Row(Car='Volkswagen Super Beetle 117'),
 Row(Car='Mazda RX-4'),
 Row(Car='Saab 99e'),
 Row(Car='Pontiac Grand Prix'),
 Row(Car='Datsun 310 GX'),
 Row(Car='Dodge Charger 2.2'),
 Row(Car='Datsun 210 MPG'),
 Row(Car='Oldsmobile Omega Brougham'),
 Row(Car='Chevrolet Chevelle Malibu'),
 Row(Car='AMC Rebel SST'),
 Row(Car='Ford Fairmont (auto)'),
 Row(Car='Toyota Corolla Mark ii'),
 Row(Car='Renault Lecar Deluxe'),
 Row(Car='Toyota Corolla 1600 (sw)'),
 Row(Car='Mazda 626'),
 Row(Car='Chevrolet Chevelle Concours (sw)'),
 Row(Car='Fiat Strada Custom'),
 Row(Car='Ford Fairmont'),
 Row(Car='Audi 100LS'),
 Row(Car='Pontiac Safari (sw)'),
 Row(Car='Datsun 1200'),
 Row(Car='AMC Concord'),
 Row(Car='Dodge Magnum XE'),
 Row(Car='Chevrolet Vega (sw)'),
 Row(Car='Toyota Corolla Hardtop'),
 Row(Car='Ford Pinto (sw)'),
 Row(Car='AMC Pacer d/l'),
 Row(Car='Ford Thunderbird'),
 Row(Car='Honda Accord'),
 Row(Car='Mazda GLC 4'),
 Row(Car='Ford Grenada gl'),
 Row(Car='Dodge Monaco (sw)'),
 Row(Car='Volvo 144ea'),
 Row(Car='Dodge Colt (sw)'),
 Row(Car='Pontiac Lemans V6'),
 Row(Car='Dodge St. Regis'),
 Row(Car='Dodge Aries SE'),
 Row(Car='Opel 1900'),
 Row(Car='Dodge Coronet Custom (sw)'),
 Row(Car='Plymouth Sapporo'),
 Row(Car='Toyota Starlet'),
 Row(Car='Chevrolet Chevette'),
 Row(Car='Fiat 124B'),
 Row(Car='AMC Concord d/l'),
 Row(Car='Volkswagen Rabbit C (Diesel)'),
 Row(Car='Chevy C20'),
 Row(Car='Volvo 264gl'),
 Row(Car='Plymouth Satellite Custom'),
 Row(Car='Dodge Colt Hardtop'),
 Row(Car='Buick Skyhawk'),
 Row(Car='Chevrolet Woody'),
 Row(Car='AMC Spirit DL'),
 Row(Car='Pontiac J2000 SE Hatchback'),
 Row(Car='Mercury Capri 2000'),
 Row(Car='Chevrolet Concours'),
 Row(Car='Subaru'),
 Row(Car='Chevrolet C10'),
 Row(Car='Datsun 510 Hatchback'),
 Row(Car='Peugeot 504 (sw)'),
 Row(Car='Volkswagen Scirocco'),
 Row(Car='Ford Grenada ghia'),
 Row(Car='Toyota Celica GT Liftback'),
 Row(Car='Plymouth Fury iii'),
 Row(Car='Audi 5000s (diesel)'),
 Row(Car='Datsun 200SX'),
 Row(Car='Oldsmobile Vista Cruiser'),
 Row(Car='Datsun B210 GX'),
 Row(Car='Buick Century Luxus (sw)')]

### Filter
- select column with specified record
- select multi columns with required record values

In [30]:
df.filter("Horsepower > 130")

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|   Buick Skylark 320|15.0|        8|       350.0|     165.0|3693.0|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0|3436.0|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0|3433.0|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0|3449.0|        10.5|   70|    US|
|    Ford Galaxie 500|15.0|        8|       429.0|     198.0|4341.0|        10.0|   70|    US|
|    Chevrolet Impala|14.0|        8|       454.0|     220.0|4354.0|         9.0|   70|    US|
|   Plymouth Fury iii|14.0|        8|       440.0|     215.0|4312.0|         8.5|   70|    US|
|    Pontiac Catalina|14.0|        8|       455.0|     225.0|4425.0|        10.0|   70|    US|
|  AMC Ambassador DPL|15.0|        8|       390.0|     190.0|3850.0|         8.5|   70|    US|
|Chevrolet Chevell...| 0.0|        8|       350.0|     165.0|4142.0|        11.5|   70|    US|
|    Ford Torino (sw)| 0.0|        8|       351.0|     153.0|4034.0|        11.0|   70|    US|
|Plymouth Satellit...| 0.0|        8|       383.0|     175.0|4166.0|        10.5|   70|    US|
|  AMC Rebel SST (sw)| 0.0|        8|       360.0|     175.0|3850.0|        11.0|   70|    US|
| Dodge Challenger SE|15.0|        8|       383.0|     170.0|3563.0|        10.0|   70|    US|
|  Plymouth 'Cuda 340|14.0|        8|       340.0|     160.0|3609.0|         8.0|   70|    US|
|Ford Mustang Boss...| 0.0|        8|       302.0|     140.0|3353.0|         8.0|   70|    US|
|Chevrolet Monte C...|15.0|        8|       400.0|     150.0|3761.0|         9.5|   70|    US|
|Buick Estate Wago...|14.0|        8|       455.0|     225.0|3086.0|        10.0|   70|    US|
|           Ford F250|10.0|        8|       360.0|     215.0|4615.0|        14.0|   70|    US|
|           Chevy C20|10.0|        8|       307.0|     200.0|4376.0|        15.0|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

### Tweak 
- When we needed to check with stringType please use Pandas style

In [33]:
df.filter((df['Horsepower'] > 130)
& (df['Origin'] == 'Europe'))

+-------------+----+---------+------------+----------+------+------------+-----+------+
|          Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+-------------+----+---------+------------+----------+------+------------+-----+------+
|Peugeot 604sl|16.2|        6|       163.0|     133.0|3410.0|        15.8|   78|Europe|
+-------------+----+---------+------------+----------+------+------------+-----+------+